<h1>New Tasks</h1>
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :datails %>
  <%= f.text_field :datails %>
  <%= f.submit %>
  <%= link_to "Edit", tasks_path %>
<% end %>
<%= link_to "Task List", tasks_path%>
